@import url('./css/bg_animations.css');
body{
  background-image: url("https://uadevs.files.wordpress.com/2016/05/headervgc.png");
  background-size: auto;
  overflow: hidden;
}
.main {
  width: 90%;
  height:550px;
  display: grid;
  margin:auto;
  justify-content: center;
  
  border: 9px double  rgba(69, 193, 241, 0.815);
  background:rgba(52, 190, 245, 0.2);
  border-radius:10px;
  transition: all 0.5s ease;

}
.content-filter{
  grid-area: content-filter;
}

.list{
  grid-area: list;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6,1fr);
  padding: 0 2em 0 1em;
  margin: 10px;
  overflow:scroll;
  z-index: 1000;
  gap:4em;
}
.list::-webkit-scrollbar {
  width: 9px;   
  height: 0px;    
  
}
.list::-webkit-scrollbar-thumb {
  background: rgb(224, 228, 228);
  border-radius: 5px;
  border: 1px double  rgba(23, 24, 24, 0.558);
  
}
/*Responsive*/
@media screen and (max-width:1080px){
  .main {
    height:85vh;
    display: grid;
    justify-content: center;
    transition: all 0.5s ease;
  }
  .list{
    padding: 0;
    margin: 0;
  }
}
